<!DOCTYPE html>
<html>
<head>
  <title>Garciawedding</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <a href="">ABOUT</a>
  <a href="">DONATE TO OUR HONEYMOON FUND</a>
  <a href="">REGISTRY</a>
  <a href="">RSVP</a>
</header>
<h1>Miguel & Apple</h1>
</div>
<div id="title" class="slide header" style="box-shadow: none;">
  <h1>Miguel Bites the Apple</h1>
</div>

<div id="slide1" class="slide slide1" style="background-color: #222;">
  <div class="title venue-info">
    <h1>The Venue</h1>
    <h2>1840s Ballroom</h2>
    <p>August 19, 2016<br>
    29 S. Front Street <br>
    Baltimore, MD 21202 <br>
    <a href="https://www.google.com/maps/dir/''/1840s+plaza/@39.2890445,-76.6745559,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x89c80482e36b005b:0x57e1d58351c8f02a!2m2!1d-76.6045159!2d39.2890655">Google maps</a></p>
  </div>
  <img src="assets/venue1.jpg" class="image" style="left: 70%;">
  <img src="assets/venue2.jpg" style="left:70%;">
</div>

<div id="slide2" class="slide">
  <div class="title" style="width: 60%;">
    <h1>In lieu of gifts...</h1>
    <p>While the presence of your company under one roof is the best gift we could ask for, we understand that some of you may want to mark the occasion with a little something extra. For those that do, we thank you in advance and genuinely appreciate all gifts and well wishes you choose to send our way.

In lieu of a traditional registry, we have opted for something to benefit our long-term future together. The link below will allow you to donate money to our home/puppy/future vacations/future family fund. Every dollar contributed, whether $1 or $1,000, will go towards our dreams of raising a loveable puppy, discovering the world around us, or setting us (and all future children) for a happy, secure, financially stable life.

If you have any specific requests for the donation – such as placing $XX amount to find the best BBQ in Texas or $XX to help pay off any remaining student loans – then we will try our best to accommodate your awesome suggestions.

Click here to donate to our home/puppy/future vacations/future family fund using Venmo, a safe and secure service which charges zero fees if you use a checking account. (LINK to our USAA/Venmo account)


If you would prefer to send your love via store goods, we’ve placed a few items from Amazon as well.
 <a href="https://www.amazon.com/registry/wedding/26RP1Q6CGA8W5">Google maps</a>
</p>
  </div>
  <img src="assets/honeymoon1.jpg">
  <img src="assets/honeymoon2.jpg">
</div>
<a href="https://www.amazon.com/registry/wedding/26RP1Q6CGA8W5">Google maps</a>
<div id="slide3" class="slide" style="background-color: #222;">
  <div class="title">
    <h1>But if you really want to give us something</h1>
    <p>Here are the links to our registries:</p><br>
    <p><a href="">Target</a><br></p>
    <p><a href="">Crate and Barrel</a></p>
  </div>
</div>

<div id="slide4" class="slide">
  <div class="title">
    <h1>RSVP</h1>
    <iframe src="https://docs.google.com/forms/d/1IihboIvGhoo1rTfOG3o8VDQqp_wcBURgVAzXzkdm_pg/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
  </div>
</div>

<div id="slide5" class="slide header">
    <h1>See you there!</h1>
    <h2>August 19, 2016</h2>
   <iframe src="http://free.timeanddate.com/countdown/i4ze8tcz/n419/cf100/cm0/cu4/ct0/cs1/ca0/co0/cr0/ss0/cacfff/cpc000/pct/tcf1d8e7/fs300/szw448/szh189/iso2016-08-19T18:00:00" allowTransparency="true" frameborder="0" width="448" height="189"></iframe>

</div>
<div class="slide">
  <iframe src="https://docs.google.com/forms/d/1IihboIvGhoo1rTfOG3o8VDQqp_wcBURgVAzXzkdm_pg/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
  </div>

</body>
</html>
